@import '../App.module.css';

.NavBar {
    background-image: linear-gradient(to right, white, var(--blue-4));
    background-color: white;
    border-bottom: 2px solid var(--blue-4);
}

.NavButton {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: 2px solid white;
    padding: 0px;
}

.NavLink {
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 8rem;
    text-align: start;
    border-right: 3px solid var(--blue-3);
    border-radius: 30px;
    box-shadow: 3px 4px 5px rgba(128, 128, 128, 0.2);
    background-color: white;
    transition: ease-in-out 0.4s;
}

.NavLink:hover {
    border-color: var(--blue-1);
}

.NavLink i {
    position: relative;
    left: -4px;
}

.Active i {
    color: var(--blue-1);
}

.Active {
    border-color: var(--blue-1);
}


/* h1 {
    color: var(--blue-3);
    opacity: 0.5;
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
} */

/* h1 {
    position: absolute;
    top: -2rem;
    left: 0;
    color: var(--blue-4);
    opacity: 0.4;
    font-weight: 600;
    font-size: 7.3rem;
    margin: 0;
    filter: blur(3px);
    text-overflow: clip;
    z-index: -1;
    white-space: nowrap;
} */

@media only screen and (max-width: 768px) {
    .NavLink {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .NavLink {
        margin-left: 1.2rem;
        margin-top: 0rem;
        width: 100vw;
        background-color: white;
        transition: ease-in-out 0.4s;
        font-size: 1.7rem;
    }

    .NavLink i {
        font-size: 2.5rem;
    }

    .NavLink:nth-child(1) {
        margin-top: 1.5rem;
    }
}

