@import '../App.module.css';

.NavBar {
    /* background-image: linear-gradient(to right, white, var(--blue-4)); */
    background-color: white;
    border-bottom: 2px solid #caf0f8;
}

.NavButton {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: 2px solid var(--blue-4);
    padding: 0px;
}

h1 {
    color: var(--blue-3);
    opacity: 0.5;
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 5rem;
    }
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 5rem;
    }
}

