@import '../App.module.css';

.Row {
    height: calc(100vh - 81px);
}

.Row h1 {
    padding-bottom: 1rem;
}

.Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 4px 5px rgba(128, 128, 128, 0.1);
}

.BorderTop {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--blue-1);
}

.SignUpRow1,
.SignUpRow3 {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 30px;
    width: 24rem;
    /* position: relative;
    left: -10rem; */
    box-shadow: inset 3px 4px 15px rgba(128, 128, 128, 0.4);
}

.SignUpRow1 {
    border: 5px solid var(--blue-3);
}

.SignUpRow3 {
    border: 5px solid var(--blue-1);
}

.SignUpRow3 p {
    letter-spacing: normal;
    text-transform: none;
}

.Link {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    display: block;
    margin: auto;
}

.Link span {
    color: var(--blue-3);
    font-weight: 600;
}

.Container {
    padding: 30px 10px;
}

.SignInCol {
    height: 320px;
}

.SignUpCol {
    height: 375px;
}

.ImageWrapper {
    overflow: hidden;
}

.Image {
    position: relative;
    height: 400px;
    width: 400px;
}

.Button {
    background-color: var(--blue-3);
    box-shadow: 3px 4px 5px rgba(128, 128, 128, 0.3);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: #ffffff;
}